<div class="legend">
    <div class="legend-item">
        <h4>Máscara</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/required-mask.png" alt="Image mask">
                <p>Obrigatório</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/recommended-mask.png" alt="Image mask">
                <p>Recomendado</p>
            </div>
        </div>
    </div>

    <div class="legend-item">
        <h4>Toalha</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/required-towel.png" alt="Image towel">
                <p>Obrigatório</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/recommended-towel.png" alt="Image towel">
                <p>Recomendado</p>
            </div>
        </div>
    </div>

    <div class="legend-item">
        <h4>Bebedouro</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/partial-fountain.png" alt="Image fountain">
                <p>Parcial</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/not_allowed-fountain.png" alt="Image fountain">
                <p>Proibido</p>
            </div>
        </div>
    </div>

    <div class="legend-item">
        <h4>Vestiário</h4>
        <div class="legend-images">
            <div class="legend-image">
                <img src="/assets/images/png/allowed-lockerroom.png" alt="Image locker room">
                <p>Liberado</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/partial-lockerroom.png" alt="Image locker room">
                <p>Parcial</p>
            </div>

            <div class="legend-image">
                <img src="/assets/images/png/closed-lockerroom.png" alt="Image locker room">
                <p>Fechado</p>
            </div>
        </div> 
        
    </div>
</div>