footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark-grey);
  box-sizing: border-box;
  padding: 24px;
  gap: 32px;
  

  img {
    height: 50px;
  }

  p {
    color: var(--light-text);
  }

}
